<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> </h2>
			<!--Formulario de Editar Perfil-->
			<form action="/profile/profile-edit/<%= usuario.id %>" method="post">
				<div class="divs-form">
					<% if(locals.errors && errors.email){ %>
						<p><%= errors.email.msg %></p>
					<% } %>
					<label for="email" class="form-label">Editar email:</label>
					<input id="email" type="email" name="email" class="form-input"
					value="<%= locals.old !== undefined && old.email ? old.email : usuario.email %>">
				</div>
				<div class="divs-form">
					<% if(locals.errors && errors.usuario){ %>
						<p><%= errors.usuario.msg %></p>
					<% } %>
					<label for="usuario" class="form-label">Editar nombre de usuario:</label>
					<input type="text" name="usuario" id="usuario" class="form-input"
					value="<%= locals.old !== undefined && old.usuario ? old.usuario : usuario.nombreUsuario %>">
				</div>
				<div class="divs-form">
					<% if(locals.errors && errors.password){ %>
						<p><%= errors.password.msg %></p>
					<% } %>
					<label for="password" class="form-label">Editar contraseña:</label>
					<input type="password" name="password" id="password" class="form-input">
					
				</div>
				<div class="divs-form">
					<% if(locals.errors && errors.nacimiento){ %>
						<p><%= errors.nacimiento.msg %></p>
					<% } %>
					<label for="nacimiento" class="form-label">Editar fecha de nacimiento:</label>
					<input type="date" name="nacimiento" id="nacimiento" class="form-input"
					value="<%= locals.old !== undefined && old.nacimiento ? old.nacimiento : usuario.fechaDeNacimiento %>">
					
				</div>
				<div class="divs-form">
					<% if(locals.errors && errors.dni){ %>
						<p><%= errors.dni.msg %></p>
					<% } %>
					<label for="dni" class="form-label">Editar número de documento:</label>
					<input type="number" name="dni" id="dni" class="form-input"
					value="<%= locals.old !== undefined && old.dni ? old.dni : usuario.dni %>">
					
				</div>
				<div class="divs-form">
					<% if(locals.errors && errors.fotoPerfil){ %>
						<p><%= errors.fotoPerfil.msg %></p>
					<% } %>
					<label for="fotoPerfil" class="form-label">Editar foto de perfil:</label>
					<input type="text" name="fotoPerfil" id="fotoPerfil" class="form-input"
					value="<%= locals.old !== undefined && old.fotoPerfil ? old.fotoPerfil : usuario.fotoPerfil %>">
					
				</div>
				<div>
					<button type="submit" class="button-form">Guardar cambios</button>
				</div>
			</form>


	<!-- footer -->
	<%- include('./partials/footer') %>

</body>
</html>